<template>
  <v-app>
    <Appbar />
    <Sidebar v-if="isNodeKnown" />
    <showSelectNodeDialog
      v-if="$store.state.application.showSelectNodeDialog"
    />
    <v-main v-if="isNodeKnown">
      <router-view />
      <ErrorDialog v-if="$store.state.application.showErrorDialog" />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted } from "@vue/composition-api";
import { provideStore } from "./lib/use-store";
export default defineComponent({
  name: "App",
  components: {
    Appbar: () => import("./components/Appbar.vue"),
    Sidebar: () => import("./components/Sidebar.vue"),
    showSelectNodeDialog: () => import("./components/ui/SelectNodeDialog.vue"),
    ErrorDialog: () => import("@/components/ui/ErrorDialog.vue")
  },
  setup(_, { root: { $store } }) {
    provideStore($store);
    onMounted(() => {
      $store.dispatch("user/loadUserConfig");
      $store.dispatch("application/getTenants");
    });
    const isNodeKnown = computed(() => {
      return Object.keys($store.state.user.selectedNode).length > 0;
    });
    return { isNodeKnown };
  }
});
</script>
