<template>
  <v-dialog v-model="showDialog" max-width="70vw" persistent>
    <v-card>
      <v-card-title class="headline text-break" v-if="item">
        {{ item.netobject }} claim resolution
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text class="pt-6" v-if="item">
        <div
          v-if="showConflictsNotification"
          style="max-height:60vh;"
          class="d-flex flex-column overflow-y-auto"
        >
          <span class="font-weight-bold"
            >This netobject may conflict with following:
          </span>
          <span v-for="(item, index) in conflictedNetobjects" :key="index">
            <span
              >Netobject:
              {{
                item.asn
                  ? "AS" + item.asn
                  : item.address || item.fqdn || item.ripe_org_hdl
              }}</span
            >
            <span class="ml-2">State: {{ item.approval }}</span>
            <span class="ml-2">
              tenant(s):
              {{ item.tenants.map(t => t.name).join(", ") }}</span
            >
            <span v-if="item.organisation" class="ml-2"
              >Organisation: {{ item.organisation.name }}</span
            >
          </span>
          <span class="mt-4" v-if="conflictedNetobjects[0].address">
            There could be other conflicts in the RIPE-Handle netobjects (These
            are not included in the list here).
          </span>
        </div>
        <span
          class="mt-4"
          v-if="
            conflictedNetobjects &&
              !conflictedNetobjects.length &&
              item.network_id
          "
        >
          There could be conflicts in the RIPE-Handle netobjects, which are not
          shown here.
        </span>
        <div v-if="item" class="text-body-2 mt-2">
          Please <span class="font-weight-bold">Approve/Deny</span> the claim
          for {{ item.netobject }} netobject
        </div>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-text-field v-if="loading" loading disabled></v-text-field>
        <UIAlert
          v-if="!loading && hasRequestError"
          v-bind:isSuccessful="false"
          v-bind:message="$store.state.application.httpErrorMessage"
        />
        <v-spacer></v-spacer>
        <v-btn
          color="blue darken-1"
          text
          @click="
            $emit('child-object', {
              closeDialog: true,
              stateChanged: false
            })
          "
          >cancel</v-btn
        >
        <v-btn
          color="blue darken-1"
          text
          @click="
            processType = 'denied';
            sendState();
            showConfirmDialog = false;
          "
          >Deny</v-btn
        >
        <v-btn
          color="blue darken-1"
          text
          @click="
            processType = 'approved';
            sendState();
            showConfirmDialog = false;
          "
          >Approve</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
/*
 * This file is Free Software under GNU Affero General Public License v >= 3.0
 * without warranty, see README.md and license for details.
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * SPDX-FileCopyrightText: 2020 nic.at GmbH <https://nic.at>
 * Software-Engineering: 2020 Intevation GmbH <https://intevation.de>
 *
 * Author(s):
 * 2021 Fadi Abbud <fadi.abbud@intevation.de>
 */
import { HTTP } from "@/lib/http";
import {
  computed,
  defineComponent,
  onMounted,
  ref
} from "@vue/composition-api";

export default defineComponent({
  props: ["item"],
  components: {
    UIAlert: () => import("@/components/ui/UIAlert.vue")
  },
  setup(props, { emit }) {
    const showDialog = true;
    const conflictedNetobjects = ref();
    const showConflictsNotification = ref(false);
    const establishRoute = item => {
      let route = "/organisations/" + item.organisation_id;
      switch (itemType.value) {
        case "asn":
          route += "/asns/" + item.asn_id;
          break;
        case "network":
          route += "/networks/" + item.network_id;

          break;
        case "fqdn":
          route += "/fqdns/" + item.fqdn_id;
          break;
        case "ripehandle":
          route += "/ripe_handles/" + item.ripe_org_hdl_id;
          break;
      }
      route += "/conflicts";
      return route;
    };
    const itemType = computed(() => {
      const itemKeys = Object.keys(props.item);
      switch (true) {
        case itemKeys.includes("asn_id"):
          return "asn";
        case itemKeys.includes("network_id"):
          return "network";
        case itemKeys.includes("ripe_org_hdl_id"):
          return "ripehandle";
        default:
          return "fqdn";
      }
    });
    const getConflicts = () => {
      HTTP.get(establishRoute(props.item)).then(response => {
        conflictedNetobjects.value = response.data;
        if (conflictedNetobjects.value && conflictedNetobjects.value.length) {
          showConflictsNotification.value = true;
        }
      });
    };
    const processType = ref("");
    onMounted(() => {
      getConflicts();
    });
    const loading = ref(false);
    const hasRequestError = ref(false);
    const sendState = () => {
      loading.value = true;
      HTTP.put(
        `/organisations/${props.item.organisation_id}${
          itemType.value === "asn"
            ? "/asns/" + props.item.asn_id
            : itemType.value === "network"
            ? "/networks/" + props.item.network_id
            : itemType.value === "ripehandle"
            ? "/ripe_handles/" + props.item.ripe_org_hdl_id
            : "/fqdns/" + props.item.fqdn_id
        }`,
        {
          approval: processType.value
        }
      )
        .then(() => {
          loading.value = false;
          emit("child-object", { closeDialog: true, stateChanged: true });
        })
        .catch(() => {
          loading.value = false;
          hasRequestError.value = true;
        });
    };
    return {
      sendState,
      loading,
      hasRequestError,
      showDialog,
      conflictedNetobjects,
      showConflictsNotification,
      processType
    };
  }
});
</script>
