<template>
  <v-container fluid fill-height>
    <v-row justify="center" class="align-self-start">
      <SectionTitle v-bind:title="'Manage Netobjects'" />
    </v-row>
    <v-row id="netobjectId" justify="center" class="align-self-start">
      <v-col cols="10">
        <NetObjects />
      </v-col>
      <v-col cols="10">
        <Rules v-if="$store.state.application.showRules" />
      </v-col>
    </v-row>
  </v-container>
</template>
<style lang="scss">
#netobjectId {
  margin-top: 10px;
}
#netobjectId > div {
  margin: 20px;
}
</style>
<script>
/*
 * This file is Free Software under GNU Affero General Public License v >= 3.0
 * without warranty, see README.md and license for details.
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * SPDX-FileCopyrightText: 2020 nic.at GmbH <https://nic.at>
 * Software-Engineering: 2020 Intevation GmbH <https://intevation.de>
 *
 * Author(s):
 * 2021 Fadi Abbud <fadi.abbud@intevation.de>
 */
import { useStore } from "@/lib/use-store";
import { computed, defineComponent } from "@vue/composition-api";

export default defineComponent({
  components: {
    NetObjects: () => import("@/components/netobjects/NetObjects.vue"),
    SectionTitle: () => import("@/components/ui/SectionTitle.vue"),
    Rules: () => import("@/components/rules/Rules.vue")
  },
  setup() {
    const store = useStore();
    const role = computed(() => {
      return store.state.user.selectedNode.level;
    });
    return { role };
  }
});
</script>
