<template>
  <div>
    <v-card
      elevation="6"
      min-width="450"
      max-height="70vh"
      class="overflow-y-auto"
    >
      <v-subheader class="text-h5">Netobjects</v-subheader>
      <v-text-field
        style="max-width:40%;"
        dense
        class="ml-2"
        clearable
        v-model="search"
        :label="`Search for Netobject(s)`"
        append-icon="mdi-magnify"
      >
      </v-text-field>
      <v-divider></v-divider>
      <v-data-table
        dense
        single-select
        :search.sync="search"
        :loading="isNOLoading"
        @click:row="rowClicked"
        :items="netobjectsForTable"
        item-key="idfortable"
        style="cursor: pointer;"
        :headers="headers"
        :footer-props="{
          itemsPerPageText: 'Items per Page',
          itemsPerPageOptions: [3, 5, 10, 15]
        }"
        :options.sync="paginationOptions"
      >
        <template v-slot:[`item.updated_by`]="{ item }">
          <div style="max-width: 90px;" @click.stop class="text-truncate">
            <a
              @click="
                userId = item.updated_by;
                showUserInfo = true;
              "
            >
              {{ item.updated_by }}
            </a>
          </div>
        </template>
        <template v-slot:[`header.resort`]="{}">
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <span v-bind="attrs" v-on="on">
                <v-icon small @click.prevent="">mdi-sort</v-icon>
              </span>
            </template>
            <span>Initial Sorting</span>
          </v-tooltip>
        </template>
        <template v-slot:[`item.approval`]="{ item }">
          <span>{{ item.approval }}</span>
          <v-tooltip
            top
            v-if="
              ($store.getters['user/isOrgaAdmin'] &&
                item.approval === 'denied') ||
                (!$store.getters['user/isOrgaAdmin'] &&
                  ['denied', 'approved'].indexOf(item.approval) !== -1)
            "
          >
            <template v-slot:activator="{ on, attrs }">
              <v-icon
                @click.stop
                v-bind="attrs"
                v-on="on"
                class="ml-2"
                @click="
                  isChangingStatusSuccessful = false;
                  resetNotification();
                  processType = 'setpending';
                  netobjectToModify = item;
                  showReclaimDialog = true;
                "
                >mdi-backup-restore</v-icon
              > </template
            ><span>Apply again</span></v-tooltip
          >
        </template>
        <template v-slot:[`item.netobject`]="{ item }">
          <span
            :class="[`${item.subNetobject ? 'ml-' + item.depth * 3 : ''}`]"
            >{{ item.netobject }}</span
          >
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-layout row>
            <v-tooltip top v-if="item.type !== 'networkautomatic'">
              <template v-slot:activator="{ on, attrs }">
                <div @click.stop v-bind="attrs" v-on="on" class="mx-1">
                  <v-icon @click="requestToDelete(item)">mdi-delete</v-icon>
                </div>
              </template>
              <span>Delete Netobject</span>
            </v-tooltip>
            <!-- Hide adding sub-netobject for Portal-admins
                to make this identical to "claim netobject" button
             -->
            <v-tooltip
              top
              v-if="
                !$store.getters['user/isPortalAdmin'] &&
                  item.approval === 'approved' &&
                  ((item.type === 'network' && isCidr(item.netobject)) ||
                    item.type === 'domain')
              "
            >
              <template v-slot:activator="{ on, attrs }">
                <div @click.stop v-bind="attrs" v-on="on" class="mr-1">
                  <v-icon
                    @click="
                      requestToCreateSubNetobject(item);
                      isChangingStatusSuccessful = false;
                      resetNotification();
                    "
                    >mdi-flip-to-front</v-icon
                  >
                </div>
              </template>
              <span>Create Sub-Netobject</span>
            </v-tooltip>
          </v-layout>
        </template>
        <template v-slot:top>
          <UserInfo
            v-if="showUserInfo"
            v-bind:id="userId"
            @user-child-object="checkUserChildObject"
          />
          <ReclaimDialog
            v-if="showReclaimDialog"
            @child-object="checkChildObject"
            v-bind:processType="processType"
            v-bind:item="netobjectToModify"
          />
          <v-dialog v-model="showClaimDialog" max-width="520">
            <v-card>
              <v-card-title>Claim Netobject</v-card-title>
              <v-divider></v-divider>
              <v-container>
                <v-row no-getters align="center">
                  <v-col cols="12" md="8" class="mx-3">
                    <v-form v-model="valid" ref="form">
                      <v-text-field
                        ref="textField"
                        dense
                        v-model="claimValue"
                        required
                        clearable
                        persistent-hint
                        :hint="textFieldHint"
                        :prefix="netobjectType === 'asn' ? 'AS' : ''"
                        :rules="claimRules"
                        :type="netobjectType === 'asn' ? 'number' : 'string'"
                      >
                      </v-text-field>
                    </v-form>
                  </v-col>
                </v-row>
              </v-container>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="
                    showClaimDialog = false;
                    $refs.form.reset();
                  "
                >
                  Cancel
                </v-btn>
                <v-btn
                  color="blue darken-1"
                  text
                  :disabled="!valid"
                  @click="
                    claimNetobject();
                    showClaimDialog = false;
                  "
                >
                  Claim
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="showSubNetobjectDialog" max-width="520">
            <v-card>
              <v-card-title v-if="selectedItem">
                Create Sub-Netobject for
                {{ selectedItem.netobject }}
              </v-card-title>
              <v-divider></v-divider>
              <v-container mt-6>
                <v-row align="center">
                  <v-col cols="12" md="8" class="mx-3">
                    <v-form v-model="isSubNOvalid" ref="subNOForm">
                      <v-text-field
                        dense
                        v-model="subNetobjectValue"
                        :rules="getSubNetobjectRules"
                        :label="
                          `${
                            selectedItem && selectedItem.type === 'network'
                              ? 'IP Addressess'
                              : 'Sub-Domain'
                          }`
                        "
                        required
                        clearable
                        persistent-hint
                      >
                      </v-text-field>
                    </v-form>
                  </v-col>
                </v-row>
              </v-container>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="showSubNetobjectDialog = false"
                >
                  Cancel
                </v-btn>
                <v-btn
                  color="blue darken-1"
                  text
                  :disabled="!isSubNOvalid"
                  @click="claimSubNetobject()"
                >
                  Add
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="showDeleteDialog" max-width="530">
            <v-card>
              <v-card-title class="headline text-break" v-if="toDeleteNO">
                Are you sure you want to delete the {{ toDeleteNO.netobject }}
                netobject?
              </v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="showDeleteDialog = false"
                  >close</v-btn
                >
                <v-btn color="blue darken-1" text @click="confirmDeletion"
                  >yes</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-dialog>
        </template>
        <template v-slot:[`body.append`]="{ headers }">
          <tr
            @click="showDefaultRules"
            :class="[
              'lastrowstyle',
              {
                selected: $store.state.netobject.showOnlyDefaultRules
              }
            ]"
          >
            <td
              v-for="t in headers.length"
              :key="t"
              :class="{ resortColumn: t === 1 }"
            >
              <div v-if="t === 2" id="color">
                {{ $store.getters["user/isOrgaAdmin"] ? "Default" : "Global" }}
              </div>
              <div v-if="t === 3" id="color">
                {{
                  $store.getters["user/isOrgaAdmin"]
                    ? $store.state.user.selectedNode.name
                    : ""
                }}
              </div>
            </td>
          </tr>
        </template>
      </v-data-table>
      <v-alert
        v-if="hasNOLoadingError"
        type="error"
        dense
        style="padding: 8px;"
        text
        class="mt-2"
      >
        {{ $store.state.application.httpErrorMessage }}
      </v-alert>
    </v-card>
    <v-row justify="end" v-if="$store.getters['user/isOrgaAdmin']">
      <v-btn
        v-if="netobjectType === 'ripehandle'"
        elevation="2"
        class="my-5 mr-3"
        @click="
          resetNotification();
          isChangingStatusSuccessful = false;
          showClaimDialog = true;
        "
      >
        Claim RIPE Handle
      </v-btn>
      <v-btn
        v-if="netobjectType !== 'ripehandle'"
        elevation="2"
        class="my-5 mr-3"
        @click="
          resetNotification();
          isChangingStatusSuccessful = false;
          showClaimDialog = true;
        "
      >
        Claim Netobject
      </v-btn>
    </v-row>
    <v-text-field
      class="mt-4"
      v-if="isClaimLoading"
      loading
      disabled
    ></v-text-field>
    <UIAlert
      class="mt-4"
      v-if="
        isClaimSuccessful ||
          hasHttpError ||
          isDeleteNOSuccessful ||
          isChangingStatusSuccessful
      "
      v-bind:isSuccessful="!hasHttpError"
      v-bind:message="
        isClaimSuccessful
          ? `Claiming request sent successfully`
          : isDeleteNOSuccessful
          ? `${toDeleteNO.netobject} deleted successfully`
          : isChangingStatusSuccessful
          ? 'Re-Claiming request sent successfully'
          : $store.state.application.httpErrorMessage
      "
    />
  </div>
</template>
<style lang="scss" scoped>
// Hide the spin button for increase/decrease the number in the text field
::v-deep input::-webkit-outer-spin-button,
::v-deep input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// Style the clicked row
::v-deep tr.v-data-table__selected {
  background: #00000040 !important;
}
::v-deep .lastrowstyle > td:not(:last-child):not(:first-child) {
  border-right: thin solid rgba(0, 0, 0, 0.12);
}
::v-deep .lastrowstyle.selected {
  background: #00000040 !important;
}
::v-deep .resortColumn {
  max-width: 5px;
  width: 5px;
  padding: 0px !important;
}
::v-deep .resortColumnHeader {
  max-width: 10px;
}
::v-deep .resortColumnHeader i:last-child {
  display: none;
}
</style>
<script lang="ts">
/*
 * This file is Free Software under GNU Affero General Public License v >= 3.0
 * without warranty, see README.md and license for details.
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * SPDX-FileCopyrightText: 2020 nic.at GmbH <https://nic.at>
 * Software-Engineering: 2020 Intevation GmbH <https://intevation.de>
 *
 * Author(s):
 * 2021 Fadi Abbud <fadi.abbud@intevation.de>
 */
import { mapNetobjects } from "@/lib/use-mapper";
import { useForm } from "@/lib/use-form";
import { useNotification } from "@/lib/use-notification";
import {
  computed,
  defineComponent,
  onMounted,
  onUnmounted,
  ref,
  watch,
  nextTick
} from "@vue/composition-api";
import { HTTP } from "../../lib/http";
import { useStore } from "../../lib/use-store";
import IPCIDR from "ip-cidr";
import { useHeadersBuilder } from "@/lib/use-headersbuilder";
import { useUserInfo } from "@/lib/use-userinfo";

export default defineComponent({
  components: {
    SectionTitle: () => import("@/components/ui/SectionTitle.vue"),
    NodeInfo: () => import("@/components/ui/NodeInfo.vue"),
    UIAlert: () => import("@/components/ui/UIAlert.vue"),
    UserInfo: () => import("@/components/usermanagement/UserInfo.vue"),
    ReclaimDialog: () => import("@/components/netobjects/ReclaimDialog.vue"),
    Pagination: () => import("@/components/ui/Pagination.vue")
  },
  setup() {
    const store = useStore();
    // Table headers
    const originalHeaders = [
      {
        text: "",
        value: "resort",
        class: "resortColumnHeader pl-1 pr-2",
        cellClass: "resortColumn"
      },
      {
        text: "Netobject",
        value: "netobject",
        divider: true
      },
      {
        text: "Managed by",
        value: "organisation.name",
        divider: true
      },
      {
        text: "State",
        value: "approval",
        sortable: true,
        filterable: false,
        divider: true,
        cellClass: "text-truncate"
      },
      {
        text: "Last change",
        value: "updated_at",
        divider: true,
        filterable: false
      },
      {
        value: "actions",
        width: "70px",
        sortable: false,
        filterable: false
      }
    ];
    const headers = ref(useHeadersBuilder(originalHeaders));
    // Form
    const claimValue = ref("");
    const { valid, form } = useForm();
    const textFieldHint = computed(() => {
      return netobjectType.value === "asn"
        ? "Autonomous System Number"
        : netobjectType.value === "domain"
        ? "Domain"
        : netobjectType.value === "ripehandle"
        ? "Claim RIPE organisation handle"
        : "Block of IP Addresses(CIDR Format)";
    });
    const isCidr = value => {
      return new IPCIDR(value).isValid();
    };
    const isUnique = value => {
      return !netobjects.some(n => n["netobject"] === value);
    };
    const claimRules = computed(() => {
      if (netobjectType.value === "asn") {
        return [
          v => !!v || "AS number is Required",
          v => !!isUnique("AS" + v) || "Netobject exists already",
          v => /[0-9]+/.test(v) || "Not valid number"
        ];
      }
      if (netobjectType.value === "domain") {
        return [
          v => !!v || "Domain Is Required",
          v => /^\w+\.\w+/g.test(v) || "Domain is not valid",
          v => !!isUnique(v) || "Netobject exists already",
          v => !!isUnique(v) || "Netobject exists already"
        ];
      }
      if (netobjectType.value === "network") {
        return [
          v => !!v || "IP Range is Required",
          v => !!isUnique(v) || "Netobject exists already",
          v => !!isCidr(v) || "Not valid CIDR format"
        ];
      }
      if (netobjectType.value === "ripehandle") {
        return [v => !!v || "RIPE Handle is Required"];
      }
    });
    // Notifications
    const {
      isAddSuccessful: isClaimSuccessful,
      isDeleteSuccessful: isDeleteNOSuccessful,
      hasRequestError: hasHttpError,
      resetNotification
    } = useNotification();
    let ripehdlNetworks: object[] = [];
    // Get netobjects of a given RIPE handle
    const gerRipeHdlNetobjects = (orgaId, orgaName, ripeId) => {
      return new Promise<void>((resolve, reject) => {
        HTTP.get(`/organisations/${orgaId}/ripe_handles/${ripeId}/networks`)
          .then(response => {
            response.data.forEach(r => {
              if (r.networks && r.networks.length) {
                // Extract the networks from each response of ripe-handle request
                ripehdlNetworks = ripehdlNetworks.concat(
                  // Set more attributes for each network-netobject sice these are needed at
                  // many places across the compoenent and for sorting
                  r.networks.map(obj => ({
                    ...obj,
                    // Set Parent to the loaded "netobjects" to assists the hierarchalSort
                    parent: ripeId,
                    // Necessary for getting rules
                    organisation_id: orgaId,
                    // Save the name of the organisation that claimed the RIPE handle
                    organame: orgaName,
                    // Name of the organisation that is led under the handle by RIPE
                    organisation: { name: r.name }
                  }))
                );
              }
            });
            resolve();
          })
          .catch(() => {
            hasNOLoadingError.value = true;
            reject();
          });
      });
    };
    // Get Netobjects
    let netobjects: object[] = [];
    const netobjectsForTable = ref();
    const isNOLoading = ref(false);
    const hasNOLoadingError = ref(false);
    const getNetobjects = () => {
      isNOLoading.value = true;
      let query = "";
      if (store.getters["user/isOrgaAdmin"]) {
        query = `ancestor=${store.state.user.selectedNode.node_id}`;
      }
      if (store.getters["user/isTenantAdmin"]) {
        query = `tenant=${store.state.user.selectedNode.node_id}`;
      }
      switch (netobjectType.value) {
        case "asn": {
          query += "&kind=asn";
          break;
        }
        case "network": {
          query += "&kind=network";
          break;
        }
        case "domain": {
          query += "&kind=fqdn";
          break;
        }
        case "ripehandle": {
          query += "&kind=ripe_handle";
          break;
        }
      }
      HTTP.get(
        query ? "/netobjects?approval=any&" + query : "/netobjects?approval=any"
      )
        .then(response => {
          if (netobjectType.value === "ripehandle") {
            // Reset to avoid duplication of networks
            ripehdlNetworks = [];
            // Register the necessary requests for each ripe-handle in the "ripeHdlRequess" array
            const ripeHdlRequests: object[] = [];
            // Sort RIPE-Handle netobjects before requests the corresponding Networks
            netobjects = response.data.ripe_handles.sort((a, b) =>
              a.ripe_org_hdl < b.ripe_org_hdl ? -1 : 1
            );
            netobjects.forEach(r => {
              ripeHdlRequests.push(
                gerRipeHdlNetobjects(
                  r["organisation_id"],
                  r["organisation.name"],
                  r["ripe_org_hdl_id"]
                )
              );
            });
            Promise.all(ripeHdlRequests).then(() => {
              // Necessary to sort items here before pagination to list the networks
              // of each RIPE-Hanlde directly after it and avoid listing only the
              // RIPE-Handles if their numbers exceeds the "itemsPerPage" value
              const parents = Array.from(
                new Set(ripehdlNetworks.map(r => r["parent"]))
              );
              for (let i = 0; i < parents.length; i++) {
                netobjects.splice(
                  netobjects.findIndex(
                    n => n["ripe_org_hdl_id"] === parents[i]
                  ) + 1,
                  0,
                  ...ripehdlNetworks.filter(rn => rn["parent"] === parents[i])
                );
              }
              netobjectsForTable.value = mapNetobjects(netobjects);
              isNOLoading.value = false;
            });
          } else {
            netobjects =
              response.data.asns ||
              response.data.networks ||
              response.data.fqdns;
            netobjectsForTable.value = mapNetobjects(netobjects);
            isNOLoading.value = false;
          }
        })
        .catch(() => {
          hasNOLoadingError.value = true;
          // Duplicate this line in this section as there are asynchronous calls
          // in "then" section and "finally" section does not wait for them
          isNOLoading.value = false;
        });
    };
    onMounted(() => {
      getNetobjects();
    });
    // Claim Netobject
    const showClaimDialog = ref(false);
    const isClaimLoading = ref(false);
    const claimNetobject = () => {
      // build the values for the Request depending on the type of the netobject
      let route;
      const payload = {} as string;
      switch (netobjectType.value) {
        case "asn": {
          route = `/organisations/${store.state.user.selectedNode.node_id}/asns`;
          payload["asn"] = claimValue.value;
          break;
        }
        case "network": {
          route = `/organisations/${store.state.user.selectedNode.node_id}/networks`;
          payload["address"] = claimValue.value;
          break;
        }
        case "domain": {
          route = `/organisations/${store.state.user.selectedNode.node_id}/fqdns`;
          payload["fqdn"] = claimValue.value;
          break;
        }
        case "ripehandle": {
          route = `/organisations/${store.state.user.selectedNode.node_id}/ripe_handles`;
          payload["ripe_org_hdl"] = claimValue.value;
          break;
        }
        default: {
          route = "";
          break;
        }
      }
      if (route) {
        isClaimLoading.value = true;
        HTTP.post(route, payload)
          .then(() => {
            isClaimSuccessful.value = true;
            getNetobjects();
          })
          .catch(() => {
            hasHttpError.value = true;
          })
          .finally(() => {
            isClaimLoading.value = false;
            form.value.reset();
          });
      }
    };
    let clickedRow;
    const rowClicked = (item, row) => {
      row.select(true);
      clickedRow = row;
      resetNotification();
      isChangingStatusSuccessful.value = false;
      store.commit("netobject/setshowOnlyDefaultRules", false);
      // As ripe handle netobjects have no related rules
      // do not show the rules table
      // Disable opening Rule-Table for network automatic as this is not yet implemented
      if (["ripehandle"].indexOf(item.type) === -1) {
        store.commit("netobject/setSelectedNO", item);
        store.commit("application/setShowRules", true);
      } else {
        // Close rule table for ripe orga handle
        store.commit("application/setShowRules", false);
      }
    };
    const showDefaultRules = () => {
      resetNotification();
      isChangingStatusSuccessful.value = false;
      if (clickedRow) {
        clickedRow.select(false);
      }
      store.commit("netobject/setshowOnlyDefaultRules", true);
      store.commit("application/setShowRules", true);
    };
    const netobjectType = computed(() => {
      return store.state.application.netobjectType;
    });
    watch(
      [() => store.state.user.selectedNode, () => netobjectType.value],
      () => {
        resetNotification();
        // Reset pagination attributes
        search.value = "";
        paginationOptions.value = {
          page: 1,
          itemsPerPage: 10,
          sortBy: [],
          sortDesc: []
        };
        getNetobjects();
        store.commit("netobject/setSelectedNO", {});
        store.commit("application/setShowRules", false);
        nextTick(() => {
          headers.value = useHeadersBuilder(originalHeaders);
        });
        if (clickedRow) {
          // Remove the styling for the clicked row
          clickedRow.select(false);
        }
      }
    );
    onUnmounted(() => {
      store.commit("application/setShowRules", false);
    });

    // Delete Netobject
    const showDeleteDialog = ref(false);
    const toDeleteNO = ref();
    const isDeleteNOLoading = ref(false);
    const requestToDelete = item => {
      toDeleteNO.value = item;
      resetNotification();
      isChangingStatusSuccessful.value = false;
      showDeleteDialog.value = true;
    };
    const confirmDeletion = () => {
      isDeleteNOLoading.value = true;
      HTTP.delete(
        `/organisations/${toDeleteNO.value.organisation_id}${
          toDeleteNO.value.type === "asn"
            ? "/asns/" + toDeleteNO.value.asn_id
            : toDeleteNO.value.type === "network"
            ? "/networks/" + toDeleteNO.value.network_id
            : toDeleteNO.value.type === "ripehandle"
            ? "/ripe_handles/" + toDeleteNO.value.ripe_org_hdl_id
            : "/fqdns/" + toDeleteNO.value.fqdn_id
        }`
      )
        .then(() => {
          getNetobjects();
          isDeleteNOSuccessful.value = true;
        })
        .catch(() => {
          hasHttpError.value = true;
        })
        .finally(() => {
          isDeleteNOLoading.value = false;
          showDeleteDialog.value = false;
        });
    };

    // Sub-Netobject
    const selectedItem = ref();
    const requestToCreateSubNetobject = item => {
      selectedItem.value = item;
      showSubNetobjectDialog.value = true;
    };
    const subNetobjectValue = ref("");
    const getSubNetobjectRules = computed(() => {
      if (selectedItem.value) {
        if (selectedItem.value && selectedItem.value.type === "network") {
          return [
            v => !!v || "IP Address is required",
            v =>
              !!new IPCIDR(selectedItem.value.netobject).contains(v || "") ||
              "IP Address in not in the IP Range",
            v => !!isUnique(v) || "Netobject exists already"
          ];
        }
        if (selectedItem.value && selectedItem.value.type === "domain") {
          // Domain Rules
          return [
            v => !!v || "Domain is required",
            v =>
              !!(v && v.includes(selectedItem.value.netobject)) ||
              "Is not sub-domain of " + selectedItem.value.netobject,
            v => !!isUnique(v) || "Netobject exists already"
          ];
        }
      } else {
        return [];
      }
    });

    const showSubNetobjectDialog = ref(false);
    const { valid: isSubNOvalid, form: subNOForm } = useForm();
    const claimSubNetobject = () => {
      const payload = {} as string;
      let route;
      if (selectedItem.value.type === "network") {
        route = `/organisations/${selectedItem.value.organisation_id}/networks`;
        payload["address"] = subNetobjectValue.value;
        payload["subnetof"] = selectedItem.value.network_id;
      }
      if (selectedItem.value.type === "domain") {
        route = `/organisations/${selectedItem.value.organisation_id}/fqdns`;
        payload["fqdn"] = subNetobjectValue.value;
        payload["subdomainof"] = selectedItem.value.fqdn_id;
      }
      if (route) {
        isClaimLoading.value = true;
        HTTP.post(route, payload)
          .then(() => {
            isClaimSuccessful.value = true;
            getNetobjects();
          })
          .catch(() => {
            hasHttpError.value = true;
          })
          .finally(() => {
            isClaimLoading.value = false;
            showSubNetobjectDialog.value = false;
            subNOForm.value.reset();
          });
      }
    };

    // Handle approval status
    const showReclaimDialog = ref(false);
    const netobjectToModify = ref();
    const isChangingStatusSuccessful = ref(false);
    const checkChildObject = e => {
      if (e.closeDialog) {
        showReclaimDialog.value = false;
      }
      // To avoid reloading netobjects by each status change, emit the changed value
      // from the child and change the respective netobject locally.
      if (e.netobjectChanged) {
        netobjectToModify.value.approval = e.newValue;
        isChangingStatusSuccessful.value = true;
      }
    };
    const processType = ref();
    const search = ref();
    const page = ref(10);
    const paginationOptions = ref({
      page: 1,
      itemsPerPage: 10,
      sortBy: [],
      sortDesc: []
    });
    return {
      paginationOptions,
      netobjectsForTable,
      isSubNOvalid,
      page,
      search,
      checkChildObject,
      processType,
      isChangingStatusSuccessful,
      showReclaimDialog,
      netobjectToModify,
      ...useUserInfo(),
      headers,
      claimSubNetobject,
      showSubNetobjectDialog,
      subNOForm,
      isCidr,
      subNetobjectValue,
      requestToCreateSubNetobject,
      getSubNetobjectRules,
      selectedItem,
      showDefaultRules,
      rowClicked,
      netobjects,
      showClaimDialog,
      valid,
      form,
      claimValue,
      claimNetobject,
      netobjectType,
      textFieldHint,
      claimRules,
      hasHttpError,
      isClaimSuccessful,
      isClaimLoading,
      isNOLoading,
      requestToDelete,
      showDeleteDialog,
      toDeleteNO,
      confirmDeletion,
      isDeleteNOLoading,
      isDeleteNOSuccessful,
      resetNotification,
      hasNOLoadingError
    };
  }
});
</script>
