
header .navbar {
    background: #126365;
}

.navbar-title {
    background-image: url(http://tuencyone:7080/resources/logo.png);
    width: 201px;
    height: 59px;
}

.bs-sidebar ul li.active a {
    background-color: #20B0B3;
    color: #fff;
}

.btn-primary-custom {
    background: #178A8D;
    color: #fff;
}

.btn-primary-custom:hover {
    background: #20B0B3;
    color: #fff;
}
