<template>
  <div id="home" class="d-flex justify-start flex-wrap text-center">
    <Users />
  </div>
</template>
<style lang="scss" scoped>
#home {
  margin-top: 10px;
}
#home > div {
  margin: 20px;
}
</style>
<script lang="ts">
/*
 * This file is Free Software under GNU Affero General Public License v >= 3.0
 * without warranty, see README.md and license for details.
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * SPDX-FileCopyrightText: 2020 nic.at GmbH <https://nic.at>
 * Software-Engineering: 2020 Intevation GmbH <https://intevation.de>
 *
 * Author(s):
 * Fadi Abbud <fadi.abbud@intevation.de>
 */
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  name: "Home",
  components: {
    Users: () => import("./usermanagement/Users.vue")
  }
});
</script>
