<template>
  <v-layout column>
    <v-card
      tile
      class="overflow-y-auto organisation-list"
      max-height="70vh"
      min-height="120px"
      elevation="6"
    >
      <v-subheader class="text-h5">Organisation Tags</v-subheader>
      <v-divider></v-divider>
      <v-data-table
        disable-pagination
        dense
        hide-default-footer
        :items="tags"
        item-key="id"
        :loading="isLoading"
        :headers="[
          {
            text: 'Name',
            align: 'start',
            value: 'name',
            divider: true
          },
          {
            text: 'Tenants',
            value: 'tenants',
            divider: true
          },
          {
            text: 'Visibility',
            value: 'visible',
            divider: true,
            sortable: true
          },
          {
            text: 'Last Change',
            value: 'updated_at',
            divider: true
          },
          {
            text: 'Actions',
            value: 'actions',
            sortable: false
          }
        ]"
      >
        <template v-slot:[`item.tenants`]="{ item }">
          <div class="d-flex">
            <UILogo
              class="mx-1"
              v-for="(tenant, i) in item.tenants"
              :key="i"
              v-bind:tenant="tenant.name"
            />
          </div>
        </template>
        <template v-slot:[`item.updated_at`]="{ item }">
          {{ item ? mapDate(item.updated_at) : "" }}
        </template>
        <!-- Rename true/false values to visible/invisible for more calrity -->
        <template v-slot:[`item.visible`]="{ item }">
          <div class="d-flex">
            {{ item.visible ? "Visible" : "Invisible" }}
          </div>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <v-icon
                v-on="on"
                v-bind="attrs"
                medium
                @click="
                  resetNotification();
                  processType = 'edit';
                  selectedItem = item;
                  showManagementDialog = true;
                "
                >mdi-pencil</v-icon
              > </template
            ><span>Edit Tag</span></v-tooltip
          >
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <v-icon
                v-on="on"
                v-bind="attrs"
                medium
                class="ml-2"
                @click="
                  resetNotification();
                  processType = 'delete';
                  selectedItem = item;
                  showManagementDialog = true;
                "
                >mdi-delete</v-icon
              >
            </template>
            <span>Delete Tag</span>
          </v-tooltip>
        </template>
        <template v-slot:top>
          <ManageTag
            v-if="showManagementDialog"
            v-bind:processType="processType"
            v-bind:tagType="'organisation'"
            v-bind:item="selectedItem"
            @child-object="checkChildObject"
          />
        </template>
      </v-data-table>
    </v-card>
    <div class="d-flex justify-end mt-6">
      <v-btn
        elevation="2"
        class="px-6"
        @click="
          selectedItem = {};
          showManagementDialog = true;
          processType = 'add';
          resetNotification();
        "
      >
        New Organisation Tag
      </v-btn>
    </div>
    <UIAlert
      class="mt-4"
      v-if="
        isAddSuccessful ||
          isDeleteSuccessful ||
          hasRequestError ||
          isEditSuccessful
      "
      v-bind:isSuccessful="!hasRequestError"
      v-bind:message="
        isAddSuccessful
          ? 'Organisation Tag added successfully'
          : isDeleteSuccessful
          ? `${selectedItem.name} deleted successfully`
          : isEditSuccessful
          ? `${selectedItem.name} updated successfully`
          : $store.state.application.httpErrorMessage
      "
    />
  </v-layout>
</template>

<script>
/*
 * This file is Free Software under GNU Affero General Public License v >= 3.0
 * without warranty, see README.md and license for details.
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * SPDX-FileCopyrightText: 2020 nic.at GmbH <https://nic.at>
 * Software-Engineering: 2020 Intevation GmbH <https://intevation.de>
 *
 * Author(s):
 * 2021 Fadi Abbud <fadi.abbud@intevation.de>
 */
import { useForm } from "@/lib/use-form";
import { useNotification } from "@/lib/use-notification";
import {
  computed,
  defineComponent,
  onMounted,
  ref
} from "@vue/composition-api";
import { mapDate } from "@/lib/use-mapper";
import { useStore } from "@/lib/use-store";

export default defineComponent({
  components: {
    UIAlert: () => import("@/components/ui/UIAlert.vue"),
    SectionTitle: () => import("@/components/ui/SectionTitle.vue"),
    UILogo: () => import("@/components/ui/UILogo.vue"),
    ManageTag: () => import("@/components/systemconfiguration/ManageTag.vue")
  },
  setup() {
    const store = useStore();
    const { form, valid } = useForm();
    //const store = useStore();
    const {
      isAddSuccessful,
      isDeleteSuccessful,
      hasRequestError,
      isEditSuccessful,
      resetNotification
    } = useNotification();
    const isLoading = ref(false);
    const tags = computed(() => {
      return store.state.organisation.organisationTags;
    });
    const getTags = () => {
      isLoading.value = true;
      store
        .dispatch("organisation/loadOrganisationTags")
        .then()
        .catch(() => {
          hasRequestError.value = true;
        })
        .finally(() => {
          isLoading.value = false;
        });
    };
    onMounted(() => {
      getTags();
    });
    // Add Tag
    const showAddDialog = ref(false);
    const processType = ref();
    const tagName = ref("");
    const selectedTenants = ref();
    const isVisible = ref(false);
    const selectedItem = ref();
    const showManagementDialog = ref();
    // React to the emitted values
    const checkChildObject = e => {
      if (e.closeDialog) {
        showManagementDialog.value = false;
      }
      if (e.tagChanged) {
        getTags();
        switch (processType.value) {
          case "add": {
            isAddSuccessful.value = true;
            break;
          }
          case "edit": {
            isEditSuccessful.value = true;
            break;
          }
          case "delete": {
            isDeleteSuccessful.value = true;
            break;
          }
        }
      }
    };
    return {
      showManagementDialog,
      selectedItem,
      checkChildObject,
      processType,
      tagName,
      selectedTenants,
      isVisible,
      tags,
      mapDate,
      isEditSuccessful,
      isDeleteSuccessful,
      isLoading,
      hasRequestError,
      showAddDialog,
      form,
      valid,
      resetNotification,
      isAddSuccessful
    };
  }
});
</script>
