<template>
  <v-container fill-height fluid>
    <v-row justify="center" class="align-self-start">
      <SectionTitle v-bind:title="'Manage Tags'" />
    </v-row>
    <v-row justify="start" id="tagsId" class="align-self-start">
      <ContactTags />
      <OrganisationTags />
    </v-row>
  </v-container>
</template>
<style lang="scss">
#tagsId {
  margin: 10px 60px;
}
#tagsId > div {
  margin: 20px;
}
</style>
<script>
import { defineComponent } from "@vue/composition-api";
export default defineComponent({
  components: {
    OrganisationTags: () =>
      import("@/components/systemconfiguration/OrganisationTags.vue"),
    ContactTags: () =>
      import("@/components/systemconfiguration/ContactTags.vue"),
    SectionTitle: () => import("@/components/ui/SectionTitle.vue")
  }
});
</script>
