<template>
  <v-container>
    <v-dialog v-model="dialog" max-width="530px" persistent>
      <v-card
        ><v-card-title class="py-5">
          <span
            >Session is expired, please
            <a
              @click="
                $store.commit('application/setShowErrorDialog', false);
                refresh();
              "
            >
              login </a
            >again</span
          >
        </v-card-title></v-card
      >
    </v-dialog>
  </v-container>
</template>

<script>
/*
 * This file is Free Software under GNU Affero General Public License v >= 3.0
 * without warranty, see README.md and license for details.
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * SPDX-FileCopyrightText: 2020 nic.at GmbH <https://nic.at>
 * Software-Engineering: 2020 Intevation GmbH <https://intevation.de>
 *
 * Author(s):
 * 2021 Fadi Abbud <fadi.abbud@intevation.de>
 */
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  setup() {
    const dialog = true;
    const refresh = () => {
      console.log("refresh");
      window.location.reload();
    };

    return { dialog, refresh };
  }
});
</script>
