<template>
  <div class="text-center pt-8 section-title text-h4">{{ title }}</div>
</template>

<script lang="ts">
/*
 * This file is Free Software under GNU Affero General Public License v >= 3.0
 * without warranty, see README.md and license for details.
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * SPDX-FileCopyrightText: 2020 nic.at GmbH <https://nic.at>
 * Software-Engineering: 2020 Intevation GmbH <https://intevation.de>
 *
 * Author(s):
 * Albert Mas <albert.mas@intevation.de>
 * 2021 Fadi Abbud <fadi.abbud@intevation.de>
 */
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  props: {
    title: String
  }
});
</script>
