<template>
  <v-container>
    <v-dialog v-model="showDialog" max-width="630px" persistent>
      <v-card>
        <v-card-title> {{ id }}</v-card-title>
        <v-divider></v-divider>
        <v-layout row class="ma-6">
          <v-text-field v-if="loading" loading disabled dense></v-text-field>
          <UIAlert
            class="col col-11 text-center"
            v-if="hasRequestError"
            v-bind:isSuccessful="false"
            v-bind:message="$store.state.application.httpErrorMessage"
          />
          <div
            v-if="!hasRequestError && userInfo"
            class="d-flex flex-column text-body-2"
          >
            <span v-if="userInfo.email">Email: {{ userInfo.email }}</span>
            <span v-if="userInfo.first_name"
              >First Name: {{ userInfo.first_name }}</span
            >
            <span v-if="userInfo.last_name"
              >Last Name: {{ userInfo.last_name }}</span
            >
            <div>
              <span v-if="userInfo.roles.length"
                >Roles:
                <v-icon v-if="userInfo.roles.includes('portaladmin')"
                  >mdi-alpha-p-box-outline</v-icon
                >
                <v-icon v-if="userInfo.roles.includes('tenantadmin')"
                  >mdi-alpha-t-box-outline</v-icon
                >
                <v-icon v-if="userInfo.roles.includes('orgaadmin')"
                  >mdi-alpha-o-box-outline</v-icon
                >
              </span>
            </div>
            <span v-if="userInfo.groups.length"
              >Nodes: {{ formNodes(userInfo.groups) }}</span
            >
          </div>
        </v-layout>
        <v-divider></v-divider>
        <v-card-actions justify="end">
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="$emit('user-child-object', { closeDialog: true })"
            >close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
/*
 * This file is Free Software under GNU Affero General Public License v >= 3.0
 * without warranty, see README.md and license for details.
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * SPDX-FileCopyrightText: 2020 nic.at GmbH <https://nic.at>
 * Software-Engineering: 2020 Intevation GmbH <https://intevation.de>
 *
 * Author(s):
 * 2021 Fadi Abbud <fadi.abbud@intevation.de>
 */
import { HTTP } from "@/lib/http";
import { useStore } from "@/lib/use-store";
import { useUserInfo } from "@/lib/use-userinfo";
import { defineComponent, onMounted, ref } from "@vue/composition-api";
export default defineComponent({
  components: {
    UIAlert: () => import("@/components/ui/UIAlert.vue")
  },
  props: {
    id: String
  },
  setup(props) {
    const store = useStore();
    const showDialog = true;
    const userInfo = ref();
    const loading = ref(false);
    const hasRequestError = ref(false);
    const getUserInfo = () => {
      loading.value = true;
      HTTP.get("/users/" + props.id)
        .then(response => {
          userInfo.value = response.data;
        })
        .catch(error => {
          if (error.response.status === 410) {
            store.commit(
              "application/setHttpErrorMessage",
              error.response.data.message
            );
          }
          hasRequestError.value = true;
        })
        .finally(() => {
          loading.value = false;
        });
    };
    onMounted(() => {
      getUserInfo();
    });
    const { formNodes, formRoles } = useUserInfo();
    return {
      showDialog,
      loading,
      hasRequestError,
      userInfo,
      formNodes,
      formRoles
    };
  }
});
</script>
